.custom-border{
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 0px 10px 28px;
  .services {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .service {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: fit-content;
      padding: 18px 16px;
      // border-right: 1px solid #E0E0E0;
      &--content {
        display: flex;
        flex-direction: column;
        gap: 4px;
  
        .title {
          font-weight: 500;
          font-size: 14px;
          color: #191c1f;
        }
        .desc {
          font-weight: 400;
          font-size: 14px;
          color: #5f6c72;
        }
      }
    }
  }
}
