.header {
  margin: 8px 0 16px;
  height: 85px;
  display: flex;
  align-items: center;
  .wrapper {
    .optom-logo {
      width: 62px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    .actions {
      display: flex;
      align-items: center;
    }
  }
}
